@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fonte1: Georgia, 'Times New Roman', serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Poppins', serif;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family: var(--fonte1);
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  font-family: var(--fonte2);
  text-align: center;
}

h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-size: 5vw;
}

header > p {
  padding-bottom: 50px;
}

header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

section {
  font-family: var(--fonte3);
  font-size: 2.5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section > p {
  padding-bottom: 1em;
}

.normal {
  background-color: white;
  color: black;
}

.imagem {
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.500);
}

.imagem > p {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.515);
  text-shadow: 1px 1px 0px black;
}

#img1 {
  background: url(../images/background01.jpg) right center no-repeat fixed;
  background-size: cover;
}

#img2 {
  background: url(../images/background02.jpg) center center no-repeat fixed;
  background-size: cover;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}